
@{
    ViewBag.Title = "AltaClienteDigital";
}
@using System.Globalization;
<style>
    .page {
        margin: 0;
        padding: 0;
    }

    .shadow {
        border-left: 1px solid gray;
        border-right: 1px solid gray;
        border-bottom: 1px solid gray;
    }

    body {
        margin: 0;
        padding: 0;
        /*text-rendering: optimizeLegibility;*/
    }

</style>
<div class="page">
    <div>
        <img src="~/Img/Intbank.png" alt="Alternate Text" width="250" height="50" />
    </div>
    <div style="margin-top:36px">
        <p style="color: #1825AA; font-family:'Segoe WP SemiLight'; font-size:24px">POWER OF ATTORNEY</p>
    </div>
    <div>
        <table style="margin-top:36px; font-family:'Arial MT'; font-size:12px; text-align:justify; line-height:180%">
            <tr>
                <td width="47.5%">
                    <div style="float:left">I (we)</div><div class="shadow" style="float: left; margin-left:5px; width:375px; height:20px;"></div>
                    <div style="clear:both">
                        <p style="margin-left:35px; margin-right:20px; text-align:center; font-size:9.3333px">
                            (insert name(s) of client(s) who is(are) giving the power of attorney
                            (hereinafter referred to as the “Client”))
                        </p>
                    </div>
                    <div style="float:left">do hereby appoint</div><div class="shadow" style="float: left; margin-left:5px; width:306px; height:20px;"></div>
                    <div class="shadow" style="clear:both; margin-top:50px; width:408px; height:20px;"></div>
                    <div style="margin-left:60px; margin-right:60px">
                        <p style="text-align:center; font-size:9.3333px">
                            (insert name of person appointed to sign or act on behalf of
                            client(s). If more than one, indicate “several”: absence of such
                            indication will not mean several)
                        </p>
                    </div>

                    <p>
                        to act as my(our) attorney-in-fact (attorney) on my(our) behalf
                        as described below.
                    </p>
                    <p><span style="font-weight:bold;">OPERATE ACCOUNTS</span></p>
                    <p>
                        Open, maintain or close an account(s) (including, without
                        limitation, current accounts, time deposits, demand deposits,
                        savings deposits, general accounts and special accounts
                        (hereinafter referred to as “Account”) in my (our) name(s) or
                        otherwise with Inteligo Bank, NASSAU BAHAMAS (hereinafter
                        referred to as “the Bank”), issue checks, notes or other
                        instruments evidencing withdrawal from that Account payable
                        at the branch of the Bank where I (we) maintain that Account.
                    </p>
                    <p>
                        Endorse checks or other instruments for the payment of money
                        payable to me(us) or on my (our) behalf, deposit those checks
                        or other instruments in my(our) Account, overdraw my(our)
                        Account and issue orders to stop payment on checks or other
                        instruments for the payment of money drawn either by me(us)
                        or by my (our) attorney on my Account.
                    </p>
                    <p><span style="font-weight:bold;">BORROW</span></p>
                    <p>
                        Borrow money and obtain loans from the Bank on my(our)
                        behalf.
                    </p>
                    <p><span style="font-weight:bold;">EXECUTE GUARANTEES AND OTHER DOCUMENTS</span></p>
                    <p>
                        Execute guarantees, endorse notes and sign as my(our)
                        attorney any other documents the Bank requests in connection
                        with any loans the Bank makes to me(our) or in my(our)
                        name(s), including security agreements, liens, promissory
                        notes, assignments and mortgages.
                    </p>
                    <p><span style="font-weight:bold;">PAY MY(OUR) DEBTS</span></p>
                    <p>
                        Pay off any of my(our) debts or obligations to the Bank from
                        my(our) assets (including any account I(we) maintain with the
                        Bank), pay off those debts or obligations before they are due
                        and renew or extend those debts or obligations.
                    </p>
                    <p><span style="font-weight:bold;">DEAL WITH MY(OUR) STOCK OR BONDS</span></p>
                    <p>
                        Buy, sell, exchange, assign and transfer, for any price my(our)
                        attorney deems fair, any and all stocks, bonds and other
                        securities that are held for me(us) or in my(our) name(s), and
                        deliver any written documents in connection with the types
                        of transactions which my(our) attorney deems advisable;
                    </p>

                </td>
                <td width="5%"></td>
                <td width="47.5%">
                    <p>
                        redeem dividends, profts, capitalization of any and all stocks.
                        Open, maintain or close any safekeeping or custody account(s)
                        that I(we) maintain with the Bank, give any other property in
                        my(our) name(s) to the Bank for safekeeping and custody and
                        give instructions or cancel instructions to the Bank concerning
                        the collection of income in the form of interest
                    </p>
                    <p><span style="font-weight:bold;">ALL OTHER ACTS</span></p>
                    <p>
                        Perform all other acts which I(we) could be executing personally
                        including, without limitation, engaging in precious metals and
                        foreign exchange transactions.
                    </p>
                    <p><span style="font-weight:bold;">ACCOUNT COVERED BY THIS POWER OF ATTORNEY</span></p>
                    <p>
                        This power of attorney covers any and all accounts that
                        I(we) maintain in my(our) name(s) with the Bank.
                    </p>
                    <p><span style="font-weight:bold;">HOW LONG THIS POWER OF ATTORNEY WILL BE IN EFFECT</span></p>
                    <p>
                        This power of attorney will take effect as and when the Bank
                        actually receives an original version, properly executed, at the
                        branch of the Bank where I(we) maintain my(our) account and
                        will remain in effect until the Bank receives my(our) actual notice,
                        in writing, that this power of attorney is revoked or terminated.
                    </p>
                    <p>
                        This power of attorney shall expire and cease to have effect upon:
                        (i) the death of the Client or the attorney, (ii) the declaration of the
                        Client´s or attorney´s disappearance, (iii) mental incapacitation
                        – (ii) and (iii) shall be determined pursuant to the applicable
                        law of the Client or attorney, as the case may be, place of
                        residence. The Bank shall incur in no liability whatever to the
                        Client, his benefciaries, his estate, or any person whomsoever
                        for executing any instructions or performing any other action
                        hereunder in ignorance of the fact that one or more of the
                        foregoing circumstances may apply to the Client or the attorney,
                        as the case may be. Further the Bank shall be under no obligation
                        at any time to investigate or inquire into whether any of the said
                        circumstances may be applicable to the Client or the attorney
                        and shall incur no liability in respect thereof.
                    </p>
                    <p><span style="font-weight:bold;">BANK’S RIGHT TO REQUIRE WRITTEN CONFIRMATION</span></p>
                    <p>
                        I(we) agree to confrm in writing that an act of my(our) attorney
                        is proper under the terms of this power of attorney if the Bank
                        asks me(us) to do so.
                    </p>
                    <p><span style="font-weight:bold;">BANKING SECRECY</span></p>
                    <p>
                        I(we) expressly consent to and authorize the Bank to share
                        and disclose information relating to my(our) accounts falling
                        hereunder with the attorney, including information relating
                        to my(our) identity and relationship with the Bank, such as
                        account(s), assets, liabilities and transactions. I(we) acknowledge
                        that all information/data provided to the attorney hereunder fall
                        beyond the control of the Bank once in the attorney’s possession
                        and are, from that point, no longer protected by the laws of The
                        Bahamas as relates to banking secrecy
                    </p>

                </td>

            </tr>
        </table>

    </div>
</div>

<div class="page" style="margin-top:100px">
    <div>
        <img src="~/Img/Intbank.png" alt="Alternate Text" width="250" height="50" />
    </div>
    <div>
        <table style="margin-top:36px; font-family:'Arial MT'; font-size:12px; text-align:justify; line-height:180%">
            <tr>
                <td width="47.5%">
                    <p><span style="font-weight:bold;">GOVERNING LAW</span></p>
                    <p>
                        This power of attorney shall be governed and construed in all
                        respects in accordance with the laws of The Bahamas. Any
                        disputes arising hereunder shall be heard in the courts of The
                        Bahamas; however I(we) hereby acknowledge that the Bank
                        reserves the right to commence proceedings against me(us) or
                        my(our) attorney before the courts at our place of residence or
                        before any other court of competent jurisdiction.
                    </p>
                    <p><span style="font-weight:bold;">INDEMNIFICATION</span></p>
                    <p>
                        I(we) acknowledge that it shall be the exclusive responsibility of
                        the attorney to report any conﬂicts of interest affecting him/her
                        in relation to actions carried out under this power of attorney.
                    </p>
                    <p>
                        I(we) acknowledge that the attorney is not an agent, employee,
                        offcer or representative of the Bank. I(we) further acknowledge
                        and agree that the Bank (i) is not responsible for the services
                        rendered by the attorney hereunder, (ii) shall not under any
                        circumstances consider the merits of the attorney’s actions and
                        (iii) shall not carry out any control or monitoring function over the
                        acts or omissions of the attorney in relation to my(our) assets
                        or compliance with Bahamian and/or foreign legislation, rules,
                        ordinances, directives and regulations, as the case may be.
                    </p>
                    <p>
                        I(we) agree to indemnify and hold the Bank harmless from any
                        and all claims and losses (including attorney’s fees) which the
                        Bank may sustain in any matter connected in any way with this
                        power of attorney and/or the act of my(our) attorney acting, or
                        claiming to act, under this power of attorney.
                    </p>
                    <div style="margin-top:36px">
                        <p>IN WITNESS WHEREOF I, the above named Client,</p>
                        <div style="float: left">have hereunto set my hands and seals this</div>
                        <div class="shadow" style="float:left; margin-left:5px; width:80px; height:20px; text-align:center">@DateTime.Now.Day.ToString("00")</div>
                        <div style="float:left; margin-left:5px;">day of</div>
                        <div style="clear:both"></div>
                        <div class="shadow" style="float:left; width:200px; margin-top:10px; text-align:center">
                            @DateTime.Today.ToString("MMMM", CultureInfo.CreateSpecificCulture("en"))
                        </div>
                        <div class="shadow" style="float:left; margin-left:5px; margin-top:10px;  width:50px; text-align:center">
                            @DateTime.Now.Year
                        </div><div style="float:left; margin-left:5px; margin-top:10px;">.</div>
                    </div>
                    <div>

                        <div style="clear:both"></div>
                        <div style="float:left; margin-top:30px">1</div><div class="shadow" style=" margin-top:30px;float: left; margin-left:5px; width:360px; height:20px;"></div>
                        <div style="clear:both; margin-left:15px">Signature of client</div>
                        <div class="shadow" style="float: left;margin-top:18px; margin-left:13px; width:360px; height:20px;"></div>
                        <div style="clear:both; margin-left:13px">Print Name</div>
                        <div style="clear:both; margin-top:10px ; line-height:40%">
                            <p>
                                Signed Sealed and Delivered by the said Client in the presence
                            </p>
                            <p>of:</p>
                        </div>
                        <div class="shadow" style="width:375px; height:20px;"></div>
                        Witness
                        <div style="margin-top:28px; line-height:40%">
                            <p>WITNESS TO EXECUTION</p>
                            <p style="font-size:9.3333px">(If executed outside Bahamas)</p>
                        </div>
                        <div style="float:left;">I,</div><div class="shadow" style="float: left; margin-left:5px; width:360px; height:20px;"></div>
                        <div style="clear:both"></div>
                        <div class="shadow" style="float: left; margin-top:10px; width:250px; height:20px;"></div><div style="float:left; margin-top:10px; margin-left:10px">(name) identifed by</div>
                        <div style="clear:both"></div>
                        <div class="shadow" style="float: left; width:150px; height:20px; margin-top:10px"></div><div style="float:left;  margin-top:10px;margin-left:5px">(type of document) N°</div><div class="shadow" style=" margin-top:10px;float: left; margin-left:5px; width:82px; height:20px;"></div><div style=" margin-left:4px;margin-top:10px;float: left;">;</div>
                        <div style="clear:both"></div>
                        <div style="float:left; margin-top:10px">hereby certify that on the</div><div class="shadow" style="float: left;margin-top:10px; margin-left:5px; width:190px; height:20px; text-align:center"></div><div style="float:left; margin-top:10px; margin-left:10px">day of</div>

                    </div>


                </td>
                <td width="5%"></td>
                <td width="47.5%">
                    <div class="shadow" style="float: left; width:100px; height:20px;"></div>
                    <div style="float: left; margin-left:5px;  height:20px;">,</div>
                    <div class="shadow" style="float: left; margin-left:5px;  width:50px; height:20px;"></div>
                    <div style="float: left; margin-left:5px;">I witnessed the execution of the</div>

                    <div class="shadow" style="clear:both; margin-top:40px; height:20px;clear:both"></div>
                    <div style="margin-top:2px">
                        below indemnifcation by the attorney whose signature
                        appears below.
                    </div>
                    <div class="shadow" style="margin-top:20px ;  height:20px"></div>
                    <div>Signature of Witness</div>


                    <div style="float:left; margin-top:50px">2</div><div class="shadow" style=" margin-top:50px;float: left; margin-left:5px; width:360px; height:20px;"></div>
                    <div style="clear:both; margin-left:15px">Signature of client</div>
                    <div class="shadow" style="float: left;margin-top:18px; margin-left:13px; width:360px; height:20px;"></div>
                    <div style="clear:both; margin-left:13px">Print Name</div>
                    <div style="clear:both; margin-top:25px ; line-height:40%">
                        <p>
                            Signed Sealed and Delivered by the said Client in the presence
                        </p>
                        <p>of:</p>
                    </div>
                    <div class="shadow" style="width:375px; height:25px;"></div>
                    Witness
                    <div style="margin-top:28px; line-height:40%">
                        <p>WITNESS TO EXECUTION</p>
                        <p style="font-size:9.3333px">(If executed outside Bahamas)</p>
                    </div>
                    <div style="float:left;">I,</div><div class="shadow" style="float: left; margin-left:5px; width:360px; height:20px;"></div>
                    <div style="clear:both"></div>
                    <div class="shadow" style="float: left; margin-top:10px; width:250px; height:20px;"></div><div style="float:left; margin-top:10px; margin-left:10px">(name) identifed by</div>
                    <div style="clear:both"></div>
                    <div class="shadow" style="float: left;width:150px; height:20px; margin-top:10px"></div><div style="float:left;  margin-top:10px;margin-left:5px">(type of document) N°</div><div class="shadow" style=" margin-top:10px;float: left; margin-left:5px; width:82px; height:20px;"></div><div style=" margin-left:4px;margin-top:10px;float: left;">;</div>
                    <div style="clear:both"></div>
                    <div style="float:left; margin-top:10px">hereby certify that on the</div><div class="shadow" style="float: left;margin-top:10px; margin-left:5px; width:190px; height:20px; text-align:center"></div><div style="float:left; margin-top:10px; margin-left:10px">day of</div>
                    <div style="clear:both"></div>
                    <div class="shadow" style="float: left; width:100px; height:20px; margin-top:10px"></div>
                    <div style="float: left; margin-left:5px;  height:20px; margin-top:10px">,</div>
                    <div class="shadow" style="float: left; margin-left:5px;  width:50px; height:20px; margin-top:10px"></div>
                    <div style="float: left; margin-left:5px;margin-top:10px">I witnessed the execution of the</div>

                    <div class="shadow" style="clear:both; margin-top:40px; height:20px;clear:both"></div>
                    <div style="margin-top:2px">
                        below indemnifcation by the attorney whose signature
                        appears below.
                    </div>
                    <div class="shadow" style="margin-top:20px ;  height:20px"></div>
                    <div>Signature of Witness</div>


                    <p style="margin-top:36px; font-weight:bold">
                        INDEMNIFICATION OF ATTORNEY
                    </p>
                    <p style="margin-top:18px;">
                        I(we) acknowledge that the I(we) am not an agent, employee,
                        offcer or representative of the Bank. I(we) expressly agree to
                        indemnify and hold the Bank harmless from any and all claims
                        and losses (including attorney’s fees) which the Bank may
                        sustain in any matter connected in any way with this power
                        of attorney and/or my acting, or claiming to act, as attorney
                        under this power of attorney.
                    </p>
                    <div class="shadow" style="margin-top:36px ;  height:20px"></div>
                    <div>Signature of attorney and relationship</div>

                </td>
            </tr>
        </table>

    </div>
</div>

