@{
    ViewBag.Title = "ContratoAsesoria";
}
@using System.Globalization;
<style>
    .borde {
        border-top: 1px solid #1825AA;
    }

    @@font-face {
        font-family: 'ArialMT-Bold';
        src: url('~/fonts/ArialMT-Bold.ttf') format("truetype"); /* Make sure your file location is right */
    }

    body {
        margin: 0;
        padding: 0;
        /*text-rendering: optimizeLegibility;*/
    }

    .page {
        /*position: relative;*/
        /*page-break-after: always;*/
        margin: 0;
        padding: 0;
        /*width: 21cm;
        height: 29.7cm;*/
        /*margin:1cm,1cm,1cm,1cm;*/
        /*overflow: hidden;
        background-color: #fff9ed;*/
    }

    .shadow {
        border-bottom:1px solid #6D6E71;
        width:400px
    }
    .box {
        float: left;
        border: 1px solid #6D6E71;
        width:25px;
        height:25px;
        text-align:center;
    }
</style>
<div class="page">
    <div>
        <div>
            <img src="~/Img/Intbank.png" style="width:189px; height:38px" />
        </div>
        <div>
            <p style="text-align:right; font-family:Utopia-SemiBold; font-size:16px; color:#1825AA">
                Contrato de asesoría fnanciera y de mercado de valores
            </p>
        </div>
    </div>
    <div class="borde">
    </div>
    <div style="margin-top:34px;font-family:'Arial MT'; text-align:justify; line-height:135%">
        <p>
            Conste por el presente documento el <span style="font-weight:bold;">CONTRATO DE ASESORÍA FINANCIERA Y DE MERCADO DE VALORES</span> que celebran: de una
            parte <span style="font-weight:bold;">INTELIGO SOCIEDAD AGENTE DE BOLSA S.A.</span>, con RUC Nº 20338205261, con domicilio en Av. Rivera Navarrete 501, Piso 21,
            San Isidro, debidamente representado por su Gerente General Adjunto, Sr. Bruno Ferreccio del Río, identifcado con DNI N° 10278332 y
            por su Vicepresidente Comercial, Sr. Raúl Barcia Estrella, identifcado con DNI N° 07874506, según poderes que constan inscritos en la
            Partida Registral N° 03012864 del Registro de Personas Jurídicas de la Ofcina Registral de Lima y Callao, en adelante <span style="font-weight:bold;">
                “INTELIGO SAB”
            </span>y de la otra parte <span style="font-weight:bold;">EL CLIENTE</span> indicado en la frma del presente documento, en adelante <span style="font-weight:bold;">“EL CLIENTE”</span>; en los términos y condiciones
            siguientes:
        </p>
        <p><span style="font-weight:bold;">PRIMERO.- ANTECEDENTES</span></p>
        <div>
            <div style="text-align:left; float:left">
                1.1
            </div>
            <div style="clear: right">
                <p style="margin-left:37px">
                    <span style="font-weight:bold;">INTELIGO SAB</span> es una sociedad anónima constituida y existente bajo las Leyes del Perú, autorizada por la Superintendencia del
                    Mercado de Valores (SMV) a actuar como agente de intermediación en el mercado de valores y, en virtud de lo dispuesto en el
                    artículo 45 del Reglamento de Agentes de Intermediación, a brindar servicios de asesoría económica y fnanciera.
                </p>
            </div>
        </div>
        <div>
            <div style="text-align:left; float:left">
                1.2
            </div>
            <div style="clear: right">
                <p style="margin-left:37px">
                    <span style="font-weight:bold;">EL CLIENTE</span> recurre a <span style="font-weight:bold;">INTELIGO SAB</span> a fn de que éste lo asesore y guíe, dada su experiencia en inversiones, tanto en el mercado de valores local como en el extranjero.
                </p>
            </div>
        </div>
        <p><span style="font-weight:bold;">SEGUNDO.- OBJETO DEL CONTRATO</span></p>
        <div>
            <div style="text-align:left; float:left">
                1.1
            </div>
            <div style="clear: right">
                <p style="margin-left:37px">
                    En virtud del presente documento <span style="font-weight:bold;">EL CLIENTE</span> contrata los servicios de <span style="font-weight:bold;">INTELIGO SAB</span> para que lo asesore en materia fnanciera y de mercado de valores a fn de tomar decisiones de inversión y preservación de su patrimonio.
                </p>
            </div>
        </div>
        <div>
            <div style="text-align:left; float:left">
                1.2
            </div>
            <div style="clear: right">
                <p style="margin-left:37px">
                    En virtud de este contrato, <span style="font-weight:bold;">INTELIGO SAB</span> podría recomendar a <span style="font-weight:bold;">
                        EL CLIENTE
                    </span> que éste suscriba otros contratos de servicios con<span style="font-weight:bold;">
                        INTELIGO SAB
                    </span>, tales como el contrato de intermediación, el contrato de administración de portafolios, entre otros. Del mismo
                    modo, <span style="font-weight:bold;">INTELIGO SAB</span> podría recomendar a <span style="font-weight:bold;">
                        EL CLIENTE
                    </span> que éste suscriba contratos con otras empresas que forman parte de
                    su grupo económico, sea para abrir cuentas bancarias o cuentas de inversión en el sistema fnanciero nacional o en el exterior,
                    según sea necesario en función de sus necesidades. Por ello, <span style="font-weight:bold;">
                        EL CLIENTE
                    </span> acepta desde ya que <span style="font-weight:bold;">
                        INTELIGO SAB
                    </span> pueda referirlo
                    y compartir sus datos personales con las citadas empresas, tal como se establece en la Cláusula Sexta del presente Contrato.
                </p>
            </div>
        </div>
        <div>
            <div style="text-align:left; float:left">
                1.3
            </div>
            <div style="clear: right">
                <p style="margin-left:37px">
                    En virtud de este Contrato, <span style="font-weight:bold;">EL CLIENTE</span> podrá instruir a <span style="font-weight:bold;">INTELIGO SAB</span> a realizar acciones para facilitar el envío de instrucciones
                    a empresas nacionales o extranjeras que administren inversiones de <span style="font-weight:bold;">EL CLIENTE</span>.
                </p>
            </div>
        </div>
        <div>
            <div style="text-align:left; float:left">
                1.4
            </div>
            <div style="clear: right">
                <p style="margin-left:37px">
                    La obligación de <span style="font-weight:bold;">INTELIGO SAB</span> bajo este servicio de asesoría, es una de medios y no de resultados, por lo que <span style="font-weight:bold;">INTELIGO SAB</span>
                    hará sus mejores esfuerzos por asesorar a <span style="font-weight:bold;">EL CLIENTE</span> con la debida diligencia requerida y en cumplimiento de todos los principios que se encuentran listados en el artículo 3 del Reglamento de Agentes de Intermediación.
                </p>
            </div>
        </div>
        <div>
            <div style="text-align:left; float:left">
                1.5
            </div>
            <div style="clear: right">
                <p style="margin-left:37px">
                    <span style="font-weight:bold;">EL CLIENTE</span> declara conocer que las inversiones fnancieras pueden tener un alto componente de riesgo, que las ganancias no
                    están aseguradas y que ciertos productos fnancieros pueden generar pérdidas en el capital invertido. Las partes dejan establecido
                    que las decisiones de inversión son responsabilidad única y exclusiva de <span style="font-weight:bold;">EL CLIENTE</span> y que <span style="font-weight:bold;">INTELIGO SAB</span> no es responsable
                    por las pérdidas o ganancias que las decisiones de inversión de <span style="font-weight:bold;">EL CLIENTE</span> puedan generarle.
                </p>
            </div>
        </div>
        <div>
            <div style="text-align:left; float:left">
                1.6
            </div>
            <div style="clear: right">
                <p style="margin-left:37px">
                    <span style="font-weight:bold;">EL CLIENTE</span> declara que los servicios que <span style="font-weight:bold;">INTELIGO SAB</span> le prestará en ejecución de este Contrato son única y estrictamente los
                    de asesoría fnanciera, asesoría que se mantendrá durante todo el plazo de duración del presente Contrato. <span style="font-weight:bold;">EL CLIENTE</span> declara
                    conocer que sus inversiones podrían ser eventualmente administradas por terceros distintos a <span style="font-weight:bold;">INTELIGO SAB</span>, quienes serán los
                    responsables de todas las obligaciones de información, rendición de cuentas, administración de fondos, custodia y ejecución de
                    instrucciones de inversión.
                </p>
            </div>
        </div>
        <div>
            <div style="text-align:left; float:left">
                1.7
            </div>
            <div style="clear: right">
                <p style="margin-left:37px">
                    Queda establecido que <span style="font-weight:bold;">INTELIGO SAB</span> no recibirá fondos de <span style="font-weight:bold;">EL CLIENTE</span>, ni de terceros por cuenta de éste, en ejecución de los
                    servicios a que se refere el presente Contrato.
                </p>
            </div>
        </div>
        <p><span style="font-weight:bold;">TERCERO.-CONTRAPRESTACIÓN</span></p>
        <p>El servicio de asesoría fnanciera será prestado de manera gratuita. Sin perjuicio de ello, <span style="font-weight:bold;">EL CLIENTE</span> declara conocer y acepta que <span style="font-weight:bold;">INTELIGO SAB</span> podría cobrar comisiones de referimiento a las entidades fnancieras a las que eventualmente lo refera como cliente, incluyendo empresas del grupo económico de <span style="font-weight:bold;">INTELIGO SAB</span>.</p>
        <p><span style="font-weight:bold;">CUARTO.- PLAZO</span></p>
        <p>
            El plazo del presente Contrato es indefnido. Cualquiera de las partes podrá ponerle término al presente Contrato mediante comunicación
            escrita con cinco (5) días hábiles de anticipación. Se deja constancia que la terminación del presente Contrato, no afectará la continuidad
            y vigencia de los otros contratos que haya frmado <span style="font-weight:bold;">EL CLIENTE</span> con <span style="font-weight:bold;">INTELIGO SAB</span> o con otras empresas que forman parte de su grupo
            económico.
        </p>
        <p><span style="font-weight:bold;">QUINTO.- CONFIDENCIALIDAD</span></p>
        <p>
            <span style="font-weight:bold;">INTELIGO SAB</span> se obliga a guardar estricta reserva respecto de la información de <span style="font-weight:bold;">EL CLIENTE</span> a la que pueda acceder o tener acceso
            producto de la ejecución del presente Contrato, quedando expresamente prohibida su divulgación, publicación o distribución a terceros
            extraños a este Contrato o hacer cualquier uso indebido de ella, con excepción de la autorización expresa a que se refere la cláusula 2.2 y
            la Cláusula Sexta siguiente, en virtud de la posible referencia que haga <span style="font-weight:bold;">INTELIGO SAB</span> a las empresas de su grupo económico indicadas
            en la citada cláusula 2.2.
        </p>
    </div>
    <div style="margin-top:20px;">
        <div style="float:left; text-align:left;">
            <p style="font-size:9.333333px;">Página 1 de 2</p>
        </div>
        <div style="line-height:1px; margin-top:21px">
            <p style="font-size:9.333333px; text-align:right">Para uso exclusivo de Inteligo SAB</p>
            <p style="font-size:9.333333px; text-align:right">1096834.DOC v.5</p>
        </div>
    </div>
</div>@*PAGE 1*@



<div class="page" style="margin-top:200px; line-height:135%"">
    <div>
        <div>
            <img src="https://drive.google.com/uc?id=1BmReWGaN1us0ebaHGGiqd9_9LIZaGGdA" style="width:189px; height:38px" />
        </div>
        <div>
            <p style="text-align:right; font-family:Utopia-SemiBold; font-size:16px; color:#1825AA">
                Contrato de asesoría fnanciera y de mercado de valores
            </p>
        </div>
    </div>
    <div class="borde"></div>
    <div style="margin-top:36px;font-family:'Arial MT'; text-align:justify;">
        <p><span style="font-weight:bold;">SEXTO.- DATOS PERSONALES</span></p>
        <div>
            <div style="text-align:left; float:left">
                6.1
            </div>
            <div style="clear: right">
                <p style="margin-left:37px">
                    Los datos personales proporcionados a <span style="font-weight:bold;">INTELIGO SAB</span> quedan incorporados al banco de datos de clientes de <span style="font-weight:bold;">INTELIGO SAB</span>.
                    <span style="font-weight:bold;">INTELIGO SAB</span> utilizará dicha información para efectos de la gestión de los productos y/o servicios solicitados y/o contratados
                    (incluyendo evaluaciones fnancieras, procesamiento de datos, formalizaciones contractuales, cobro de deudas, gestión de operaciones fnancieras y remisión de correspondencia, entre otros), la misma que podrá ser realizada a través de terceros.
                </p>
            </div>
        </div>
        <div>
            <div style="text-align:left; float:left">
                6.2
            </div>
            <div style="clear: right">
                <p style="margin-left:37px">
                    <span style="font-weight:bold;">EL CLIENTE</span>, como el titular de los datos personales, autoriza a <span style="font-weight:bold;">INTELIGO SAB</span> a utilizar, en tanto esta autorización no sea
                    revocada, los datos personales, incluyendo datos sensibles, que hubieran sido proporcionados directamente a <span style="font-weight:bold;">INTELIGO SAB</span>,
                    aquellos que pudieran encontrarse en fuentes accesibles para el público o los que hayan sido obtenidos de terceros; para efectos de poder cumplir los objetivos del presente Contrato. Para tales efectos, <span style="font-weight:bold;">EL CLIENTE</span> autoriza a <span style="font-weight:bold;">INTELIGO SAB</span> la cesión,
                    transferencia o comunicación de sus datos personales, a empresas subsidiarias de Intercorp Financial Services Inc. y entre ellas,
                    únicamente a fn de poder brindarle la asesoría fnanciera integral establecida en el presente Contrato.
                </p>
            </div>
        </div>
        <div>
            <div style="text-align:left; float:left">
                6.3
            </div>
            <div style="clear: right">
                <p style="margin-left:37px">
                    <span style="font-weight:bold;">EL CLIENTE</span> puede revocar la autorización para el tratamiento de sus datos personales en cualquier momento, de conformidad
                    con lo previsto en la Ley de Protección de Datos Personales (Ley No. 29733) y su Reglamento (Decreto Supremo No. 003-2013-
                    JUS). Para ejercer este derecho, o cualquier otro previsto en dichas normas, el titular de datos personales podrá presentar su
                    solicitud en cualquiera de las sucursales u ofcinas de <span style="font-weight:bold;">INTELIGO SAB</span>.
                </p>
            </div>
        </div>
        <p><span style="font-weight:bold;">SEPTIMO.-DISPOSICIONES FINALES</span></p>
        <div>
            <div style="text-align:left; float:left">
                7.1
            </div>
            <div style="clear: right">
                <p style="margin-left:37px">
                    Para toda controversia relacionada con la negociación, celebración, interpretación y/o ejecución del presente instrumento, las
                    partes renuncian a todo fuero que por cualquier motivo pudiera corresponderles y se someten expresa y exclusivamente a la
                    jurisdicción de los jueces y tribunales de Lima.
                </p>
            </div>
        </div>
        <div>
            <div style="text-align:left; float:left">
                7.2
            </div>
            <div style="clear: right">
                <p style="margin-left:37px">
                    En todo lo no previsto en el presente documento, será de aplicación lo establecido en el artículo 1764º y siguientes del Código
                    Civil, relativo a la Locación de Servicios como modalidad del Contrato de Prestación de Servicios.
                </p>
            </div>
        </div>
        <div style="margin-top:38px">
            <p>
                Suscrito en dos ejemplares, en Lima <span style="text-decoration:underline">@DateTime.Today.Day.ToString("00")</span> de <span style="text-decoration:underline">@DateTime.Today.ToString("MMMM", CultureInfo.CreateSpecificCulture("es")) </span> de <span style="text-decoration:underline">@DateTime.Now.Year</span>.
            </p>
        </div>
        <div style="margin-top:19px">
            <p>Por <span style="font-weight:bold;">EL CLIENTE</span></p>
        </div>
        <div style="margin-top:19px; ">
            <div style="float:left;">
                <div class="shadow"></div>
                <p>Nombre</p>
                <p>Documento de Identidad:</p>

                <div style="margin-top:10px">
                    <div>
                        <div class="box"></div>
                        <p style="float:left; margin-left:5px">DNI</p>
                        <div class="box" style="margin-left:30px"></div>
                        <p style="float:left; margin-left:5px">Carnet de Extranjería</p>
                        <div class="box" style="margin-left:15px"></div>
                        <p style="float:left; margin-left:5px">Pasaporte</p>
                    </div>
                </div>

                <div class="shadow" style="margin-top:70px"></div>
                <p>N° de Documento de Identidad</p>
                <div class="shadow" style="margin-top:36px"></div>
                <p>Firma</p>
                <p>Por <span style="font-weight:bold;">INTELIGO SAB</span></p>
                <img src="#" alt="Alternate Text" width="170" height="100" />
                <div class="shadow">Bruno Ferreccio del Río</div>
            </div>
            <div style="float:left; margin-left:36px">
                <div class="shadow"></div>
                <p>Nombre</p>
                <p>Documento de Identidad:</p>

                <div style="margin-top:10px">
                    <div>
                        <div class="box"></div>
                        <p style="float:left; margin-left:5px">DNI</p>
                        <div class="box" style="margin-left:30px"></div>
                        <p style="float:left; margin-left:5px">Carnet de Extranjería</p>
                        <div class="box" style="margin-left:15px"></div>
                        <p style="float:left; margin-left:5px">Pasaporte</p>
                    </div>
                </div>

                <div class="shadow" style="margin-top:70px"></div>
                <p>N° de Documento de Identidad</p>
                <div class="shadow" style="margin-top:36px"></div>
                <p>Firma</p>
                <p>Por <span style="font-weight:bold;">INTELIGO SAB</span></p>
                <img src="#" alt="Alternate Text" width="170" height="100" />
                <div class="shadow">Bruno Ferreccio del Río</div>
            </div>
        </div>
    </div>

</div>@*PAGE 2*@

