
@{
    ViewBag.Title = "Index";
}
<style>
    .line-box {
        border-top: 1px solid #A8A8A8;
        border-bottom: 1px solid #A8A8A8;
        margin-left: 188.97637795px;
        margin-right: 188.97637795px;
    }
</style>
@*Pagina 1*@
<div>
    <div style="margin-top:12.5cm; margin-left:7cm;">
        <img src="~/Img/Intbank.png" style="width:10cm; height:2cm" />
    </div>
    <div style="margin-top:7cm; margin-bottom:7cm">
        <div class="line-box" style=" border-bottom:none">
            <p style="font-family:'Times New Roman'; font-size:26px; color:rgb(35,62,152); text-align:center; ">P E R S O N A L</p>
        </div>
        <div class="line-box">
            <p style="font-family:Times New Roman; font-size:17px; color:rgb(167,169,171); text-align:center; ">OPENING AN ACCOUNT</p>
        </div>
    </div>
</div>
<div style="page-break-after: always;"></div> @*Page BREAK*@
@*Pagina 2*@
<div>
    <div style="">
        <img src="~/Img/Intbank.png" style="width:6cm; height:1cm; margin:2cm 0 0 2cm" />
    </div>
    <div><p style="font-family:'Times New Roman'; font-size:24px; color:rgb(35,62,152); margin:2cm 0 0 2cm"><p>INDEX</p></div>
    <div>
        <p style="font-family:'Times New Roman'; font-size:12px; margin:2cm 0 0 4cm; color:black">
            General Instructions<br />
            Personal Information<br />
            Open a Current Account<br />
        </p>
    </div>
</div>
<div style="page-break-after: always;"></div> @*Page BREAK*@
@*Pagina 3*@

<div>

</div>

@*Pagina 14*@
<div>
    <div>
        <img src="~/Img/Intbank.png" style="width:6cm; height:1cm; margin:2cm 0 0 2cm" />
    </div>
    <div><p style="font-family:'Arial MT'; font-size:24px; color:rgb(35,62,152); margin:2cm 0 0 2cm">TERMS AND CONDITIONS</p></div>
    <div style="font-family:'Arial MT'; font-size:12px; color:black; margin:2cm 0 0 2cm; text-align:justify">
        <p>
            The following provisions are intended to govern the relationship between Inteligo Bank Ltd. NASSAU, BAHAMAS (hereinafter
            referred to as “the Bank”), and its customers (hereinafter referred to as “the Client”) with respect to any account (s) or sevice
            (s) established at the Bank. If more than one person signs this agreement, it is understood that the word “Client” includes
            both or all of the persons who sign, and the rights, obligations and responsibilities of such persons shall be joint and several.
        </p> <br />
        <p>
            THESE PROVISIONS ALONG WITH THE APPLICATION, ANY ADDITIONAL AGREEMENT FOR ACCOUNT OR SERVICES
            THE CLIENT HAS REQUESTED, SCHEDULES, DISCLOSURES AND SUPPLEMENTAL FORMS, AND ALL AMENDMENTS
            AND SUPPLEMENTS TO ANY OF THEM, ARE REFERRED TO COLLECTIVELY HEREIN AS “THE AGREEMENT”.
        </p>
        <br />
        <p><strong>1. OPENING OF ACCOUNT(S)</strong></p>
        <br />
        <p>
            By signing these Terms and Conditions the Client agrees that all information contained in the Bank’s application forms and
            formats for opening an account (the “Application”) are true and valid and shall constitute the Client’s agreement to these
            terms and conditions. The Client agrees to notify the Bank promptly in writing of any changes in his address or taxation
            status in the United States. Any communication addressed and delivered to the Client to his address, by e-mail or any other
            contact information set forth in the record of the Bank shall be considered properly mailed or sent.
        </p>
        <br />
        <p>
            The Application, a Power of Attorney or any other authorization made by the Client (in form of an authorized signature(s))
            contain sample copies of the signatures, which are hereby acknowledged by the Client and the Bank, and the Bank is entitled
            to rely thereon.
        </p><br />
        <p>
            For the avoidance of doubt, if there is more than one Client and the Client indicates, in the Application, that the account(s)
            established with the Bank is/are to be “joint”, the rights, obligations and responsibilities of such persons in relation to any
            such account(s) shall be joint and several. Upon the death of one of the Clients, the surviving Client(s) shall automatically
            become the owner(s) of the account by right of survivorship.
        </p>
        <br />
        <p>
            The Client also agrees to notify the Bank promptly in writing of any changes in the authorized Signatories of the account, due
            to changes in their powers of attorney or revocation of powers. If the Client does not comply with informing the Bank of such
            changes or revocation of powers, the Client agrees to fully protect the Bank from any loss or liability incurred in relying on
            instructions or communications given by those authorized Signatories
        </p>
        <br />
        <p><strong>2. DEPOSITED OR CASHED ITEMS AND WITHDRAWAL</strong></p>
        <br />
        <p>
            All items deposited in any account or cashed for any Client are received by the Bank as debtor to the Client and are subject
            to the Bank’s right of set off (“collection”). Any credit that may have been made to the Client’s account (s) for any item that is
            not finally collected shall result in such credit being rescinded or cancelled. The Bank is authorized to accept for the Client’s
            account (s) all remittances of funds or other property from third parties.
        </p>
        <br />
        <p>
            After any account is opened, deposits and withdrawals from the account shall be made only upon presentation to the Bank
            of a written order, on the appropriate form furnished by the Bank for such purpose. Withdrawals of money from the Client’s
            account may be made by the Client either in person or by written order of withdrawal by mail or through another Bank.
            Nonetheless, the Client hereby authorizes the Bank to make deposits and withdrawals between the Client’s accounts, as is
            necessary, in the best interest of the Client, without the need for prior written authorization.
        </p><br />
        <p>
            Delivery by the Client or collection of drafts, checks and other items (and accompanying deposit slips) to the Bank is at the
            Client’s absolute risk of loss and the Bank has no liability whatsoever for failure or lateness of any delivery thereof or for the
            loss, damage or mutilation thereof keeping clear and legible photocopies of the front and back of all drafts, checks and other
            items delivered to the Bank for deposit or collection.
        </p><br />
        <p>
            Except as otherwise provided, if the funds or deposits received to open an account were not in U.S. currency, the Bank shall
            convert the funds into U.S. currency at the prevailing rate of exchange on the effective date of the deposit; in regard to the
            checks drawn upon a foreign Bank received for deposit, the Bank shall charge its ordinary collection fees.
        </p>

        <div style="margin-top:1.5cm; font-family:'Times New Roman'; font-size:8px; text-align:right">
            <p>ITGB-OAD-2019</p>
        </div>
    </div>
</div>
<div style="page-break-after: always;"></div> @*Page BREAK*@
@*Pagina 15*@
<div>
    <div>
        <img src="~/Img/Intbank.png" style="width:6cm; height:1cm; margin:1.5cm 0 0 2cm" />
    </div>
    <div style="font-family:'Arial MT'; font-size:12px; color:black; margin:1cm 0 0 2cm; text-align:justify">
        <p><strong>3. BANK’S RIGHT TO REFUSE A PAYMENT</strong></p>
        <br />
        <p>
            If the Client gives an order or instruction that exceeds the available funds or line of credit the Bank has the right to execute
            any such orders or instructions only up to the amount covered, choosing the transactions and the order of priority thereof,
            to be carried out regardless of the time of arrival of the Client’s instructions or, whether such insufficiency of funds resulted
            from the payment of other orders, the return of any item relating to an order or the imposition of any payment from the Bank,
            including service or maintenance charges.
        </p> <br />
        <p><strong>4. INTEREST</strong></p><br />
        <p>
            The interests on any Client’s interest bearing account(s) shall be paid by the Bank at the regular rate the Bank pays with
            respect to similar accounts. The Bank has the right to change interest rates at anytime in accordance with the changes it
            makes to rates on similar accounts.
        </p>
        <br />
        <p><strong>5. ASSIGNMENT</strong></p>
        <br />
        <p>
            By signing these Terms and Conditions the Client agrees that all information contained in the Bank’s application forms and
            formats for opening an account (the “Application”) are true and valid and shall constitute the Client’s agreement to these
            terms and conditions. The Client agrees to notify the Bank promptly in writing of any changes in his address or taxation
            status in the United States. Any communication addressed and delivered to the Client to his address, by e-mail or any other
            contact information set forth in the record of the Bank shall be considered properly mailed or sent.
        </p>
        <br />
        <p>
            No assignment on an account shall be effective unless notification of the assignment has been delivered to the Bank in writing
            to the Bank’s satisfaction and then only after the Bank has given written approval and has had reasonable time to record the
            assignment on its books and records. However, it is not a policy of the Bank to allow assignment of any accounts.
        </p><br />
        <p><strong>6. BANK’S LIABILITY & INDEMNITY</strong></p><br />
        <p>
            The Bank shall use due diligence in the selection of collection agents and correspondent Banks (hereinafter collectively
            “Correspondents”) but shall not be liable for the insolvency, negligence, misconduct, error, or default of any such
            Correspondent or for loss or destruction of any item in transit or in possession of others. The Bank or any correspondent
            may waive presentment notice and protest on all items for which credit or value is given in whole or in part or which are
            received for Client collection or may send any item, directly or indirectly to any bank, including the drawer or the payer, or
            to any non-Bank payer
        </p>
        <br />
        <p>
            Without limiting the generality of other provisions of this agreement or any other agreement between the Bank and the Client,
            the Bank shall not be liable to the Client for any failure, omission, delay, interruption or error in the fulfillment of any of the
            terms, covenants or conditions of this agreement, or otherwise due to causes beyond the control of the Bank including,
            without limitation, Bank moratoriums or holidays, currency restrictions, trading suspensions, acts of God, public enemy
            or superior governmental authority, change in the applicable legislation, war, civil commotion, compulsion, insolvency or
            ordinary negligence of other Banks. The Bank shall have no responsibility or liability (either at the Client’s branches or at any
            other office of the Bank wherever located) to the Client for any reduction in the Client’s available funds due to restrictions
            imposed or actions taken by any government, central Bank, or other fiscal, monetary or other authority. The Bank’s sole
            liability and obligation with respect to any account, or any agreement between the Bank and the Client respectively, shall
            be to pay the Client, (a) any credit balance in such account after giving effect to the applications, transfers and reductions
            thereof and deductions therefrom by the Bank, permitted under this agreement and, (b) any net proceeds payable under the
            provisions of any such other agreement in the Bank.
        </p>
        <br />
        <p>
            To avoid any doubt, the Bank shall not be liable for any damage, loss or expenses suffered by the Client from any act
            or omission whatsoever unless caused by the willful default or gross negligence of the Bank. The Client hereby agrees
            to indemnify the Bank and hold it harmless from and against all claims, demands, proceedings, penalties, liabilities and
            expenses suffered or incurred in connection with the provision of services to the Client by the Bank under this agreement,
            including legal expenses incurred in settling, defending or negotiating the same, providing only that this indemnity shall
            not extend to the consequences of any willful default or gross negligence of the Bank. This exculpation of indemnity is in
            addition to and without prejudice to all other exculpations and indemnities expressed or implied for the benefit of the Bank
            or generally available to it by law or otherwise.
        </p>
        <br />
        <p><strong>7. STATEMENTS, BANK CORRESPONDENCE</strong></p>
        <br />
        <p>
            The Bank shall inform the Client of the availability of account statements (the “Statement”) either by mail or email notification,
            or will make the Statement available to the Client by any electronic means, including but not limited to the Bank´s web page,
            any App created by the Bank for this purpose, text messages or any other means the Bank makes available to its clients
            (“electronic means”) The Bank shall include in the Statement the items paid in support of the debit entries of such Statement
            The Client shall promptly and carefully examine such Statement, and items to discover any irregularity, including but not
            limited to, any unauthorized signatures or alterations and shall notify the Bank promptly, in writing, of any such discrepancy
        </p>

        <div style="margin-top:1cm; font-family:'Times New Roman'; font-size:8px; text-align:right">
            <p>ITGB-OAD-2019</p>
        </div>
    </div>
</div>
<div style="page-break-after: always;"></div> @*Page BREAK*@
@*Pagina 15*@
<div>
    <div>
        <img src="~/Img/Intbank.png" style="width:6cm; height:1cm; margin:1.5cm 0 0 2cm" />
    </div>
    <div style="font-family:'Arial MT'; font-size:12px; color:black; margin:1cm 0 0 2cm; text-align:justify">
        <p>
            within fifteen (15) calendar days subsequent to the time that the Client is notified that the Statement has been posted on
            the website or posted by other electronic means or such Statement and items were first mailed, sent by electronic means
            or made available to the Client. In those situations in which the Client has authorized the Bank to hold correspondence, this
            section shall apply as if the Client had received such Statement on the date that appears on the statement.
        </p> <br />
        <p>
            In those situations in which the Client has appointed an attorney-in-fact pursuant to a Power of Attorney, fulfillment of the
            obligations of this section to and by the attorney-in- fact shall be the same as if entailing action by the Client itself. Subject to
            the timely notification from the Client pursuant to the foregoing paragraph, any Statement of any account of the Client shall
            be, in the absence of manifest error, conclusive evidence of the transactions and other matters set forth therein.
        </p>
        <br />
        <p>
            Other than Statements, the Client hereby requests and authorizes the Bank to deliver any and all correspondence (“the
            Correspondence”) to the Client at the address that appears in the Bank’s records, including the email address indicated
            thereof, as the case may be, or at such address as the Client may advise the Bank from time to time. The Client also
            acknowledges and authorizes the Bank to deliver the Correspondence through any electronic means available.
        </p>
        <br />
        <p>
            The Client understands that theft, accidents, errors in instructions and/or communication or other mishaps may occur in
            the delivery of the Correspondence and may result in the Correspondence failing to reach its ultimate intended destination.
            Therefore, the Client agrees to release the Bank from any liability stemming from any actions, claims, proceedings, costs
            or liabilities of any kind whatsoever resulting from or arising in relation to the failure of the Correspondence to reach its
            intended destination in any such circumstances.
        </p><br />
        <p>
            <strong>
                8. BANK’S INDEMNITY (SECURITY AGAINST LOSS)
            </strong>
        </p><br />
        <p>
            If the Bank believes in its absolute discretion that any Instruction that it agrees to accept might expose it to claims, suit,
            losses, expenses, liabilities or damages, whether directly or indirectly, it may require a satisfactory indemnity from any Client
            before following such instructions.
        </p>
        <br />
        <p><strong>9. TERMINATION OF ACCOUNT</strong></p><br />
        <p>
            The Bank may at any time terminate, without the need to indicate the reason, any account established under this agreement
            and in doing so will incur no liability by mailing or sending by electronic means notice of termination to the Client’s address
            set forth in the Bank’s record. The Bank may, at the Client’s risk, mail a check to the Client at such address for the balance
            of such terminated account provided that all fees, expenses and costs incurred by the Client have been settled in full.
        </p>
        <br />
        <p><strong>10. ENFORCEMENT OF OBLIGATION</strong></p>
        <br />
        <p>
            In the event that (a) The Client fails to pay or fulfill any obligations to the Bank when due or immediately upon the Bank’s
            demand thereof, (b) the Client, if a natural person, becomes or is declared incompetent, (c) the Client, if a natural person,
            dies, (d) the Client liquidates or dissolves voluntarily or involuntarily, (e) the Client becomes insolvent or a petition of
            bankruptcy is filed by or against the Client’s assets or properties, (f) an attachment or restraining order is levied against
            one or more of the Client’s accounts, (g) any collateral deposited or delivered by the Client or otherwise in possession of
            the Bank to secure the Client’s obligations is deemed by the Bank, in its absolute discretion, to be inadequate or, (h) any
            of the accounts is terminated, all the obligations the Client has with the Bank may be declared to be and shall be payable
            to the Bank.
        </p>
        <br />
        <p>
            The Client hereby expressly waives demand, presentment for payment, notification of non-payment, protest, notice of protest
            and all other notices, filing of suit and diligence in collecting any obligations or enforcing any other remedy with respect
            thereto. The Bank may send any instrument drawn or endorsed in the name of or on behalf of the Client, directly or
            indirectly, to any banking institution and to any drawer or payer thereof. As a first consideration the Bank shall not be
            required to make demands upon, commence suit against or pursue or exhaust its other remedies against the Client or against
            any item of the Client with respect to any obligation now or hereafter owed to the Bank and any affiliate by the undersigned,
            either individually or jointly, and the Bank may simply charge the obligation to any deposit account in the name of the
            undersigned or in the name of the undersigned and another or others.
        </p><br />
        <p><strong>11. COLLATERAL AND SECURITY AGREEMENT AND SET OFF</strong></p><br />
        <p>
            As security for the full and timely payment of all obligations from the undersigned to the Bank or any of its affiliates, whether
            arising under this agreement or any other agreement between us, the undersigned hereby assigns and pledges to the Bank
            and any of its affiliates (as advised by the Bank) (“Affiliates”) and grants the Bank and Affiliates a security interest in all
        </p>
        <div style="margin-top:1cm; font-family:'Times New Roman'; font-size:8px; text-align:right">
            <p>ITGB-OAD-2019</p>
        </div>
    </div>
</div>
<div style="page-break-after: always;"></div> @*Page BREAK*@
@*Pagina 17*@
<div>
    <div>
        <img src="~/Img/Intbank.png" style="width:6cm; height:1cm; margin:1.5cm 0 0 2cm" />
    </div>
    <div style="font-family:'Arial MT'; font-size:12px; color:black; margin:1cm 0 0 2cm; text-align:justify">
        <p>
            deposits and credits in any account of the undersigned with the Bank and of any Affiliates or any credits with any claims
            of the undersigned against the Bank or any of its Affiliates (including, without limitation, rights under wholly or partially
            performed contracts, providing for transactions in or open positions with respect to precious metals) and any securities or
            other properties of the undersigned or its Affiliates and the proceeds thereof for the account of the undersigned, whether for
            safekeeping, custody, pledge, transmission, collection or otherwise.
        </p> <br />
        <p>
            The Bank is hereby authorized at any time and from time to time without having to notify the undersigned, to set off,
            appropriate and apply any or all of the foregoing items, deposits, accounts and property against any or all the obligations
            of the undersigned to the Bank or any Affiliate, whether under this agreement or otherwise, and whether now existing or
            hereafter arising, in addition to any other rights and remedies, the Bank and any of its affiliates have under any applicable
            law. No such demand, commencement of suit or other action by the Bank shall be deemed or considered to be its election of
            remedies. The rights and remedies of the Bank under this agreement, or with respect to the transactions contemplated
            hereby, shall be cumulative and not exclusive and may be exercised by the Bank from time to time and as often as the Bank
            determines in, its absolute discretion, to be necessary.
        </p>
        <br />
        <p><strong>12. RIGHT OF WAIVER</strong></p><br />
        <p>
            The Bank may waive any of its rights and powers under this agreement but such waiver shall apply only to such instance
            with respect to the particular right or power being waived and shall not operate as a waiver of any other rights or powers of
            the Bank under this agreement.
        </p>
        <br />
        <p><strong>13. APPLICABILITY OF RULES AND LAWS</strong></p><br />
        <p>
            The Account (s) shall be subject to these Terms and Conditions and to any applicable laws of The Commonwealth of
            The Bahamas. The Account (s) shall also be subject to the general rules and by-laws of the Bank including any present
            and future amendments thereto. These Rules and -Regulations are subject to change without prior notice and any such
            change shall be effective immediately. By signing these Terms and Conditions and an Application or agreement for an
            account or service provided by the Bank, the Client agrees to be bound by these Rules and all applicable laws and
            Regulations of The Commonwealth of The Bahamas.
        </p><br />
        <p>
            The Bank may change these Rules at any time.In any dispute or controversy that may arise with regard to any account,
            these Rules shall be construed in accordance with the laws of The Commonwealth of The Bahamas.
        </p>
        <br />
        <p>
            The Client agrees that this agreement and all transactions thereunder are to be construed and governed by the laws of
            the Commonwealth of The Bahamas and that if any claim or action at law is brought by the Client, or if any dispute arises
            thereunder in connection with any transaction with the Client , such action shall be brought before the courts of Bahamas,
            which the Client agrees shall be the exclusive forum for adjudication of any dispute arising under this agreement
        </p><br />
        <p><strong>14. CLIENT’S COMMUNICATIONS</strong></p><br />
        <p>
            The Client agrees that the Bank will accept and execute the Client’s orders, instructions or communications, whether orally
            or in writing, by telephone or electronic means, according to the rules and procedures approved by the Bank in the Indemnity
            Agreement contained in Schedule A and upon its terms and conditions. Therefore, all verbal and electronic instructions of
            the Client made to the Bank will be governed and ruled subject to the Indemnity Agreement provisions.
        </p>
        <br />
        <p>
            The Client hereby consents and expressly waives all rights to contest the taping or other mechanical or electronic recordings
            by or on behalf of the Bank of oral or telephone or other electronic conversations constituting communications or purporting
            to effect an order or instruction upon the Indemnity Agreement. Notwithstanding the foregoing and without limiting other
            provisions of this agreement the Bank may, at any time in its discretion, require confirmation of agreement with respect to
            any oral or telephone or other electronic means of communications without expense to the Bank, in writing or by electronic
            means within three (3) business days (or any period of time required by the applicable law, to be afforded by the Client
            whichever is longer) after the Bank’s receipt thereof, orally or by telephone.
        </p>
        <br />
        <p>
            The Bank shall be protected in acting upon any communications from the Client. The Client assumes all risks involved in
            connection with communications to or from the Client hereunder including, but without limitation to, risks arising or resulting
            directly or indirectly from delays or errors in transmission in identifying or locating the Client or the designee thereof,
            or in translation or interpretation of terms and provisions, technological telecommunication or electronic malfunctions of
            equipment, and failure of hand delivery, electronic means or other means of communicating the Correspondence except for
            risks directly resulting from the Bank’s willful misconduct or gross negligence as duly demonstrated.
        </p>
        <div style="margin-top:1cm; font-family:'Times New Roman'; font-size:8px; text-align:right">
            <p>ITGB-OAD-2019</p>
        </div>
    </div>
</div>
<div style="page-break-after: always;"></div> @*Page BREAK*@
@*Pagina 18*@
<div>
    <div>
        <img src="~/Img/Intbank.png" style="width:6cm; height:1cm; margin:1.5cm 0 0 2cm" />
    </div>
    <div style="font-family:'Arial MT'; font-size:12px; color:black; margin:1cm 0 0 2cm; text-align:justify">
        <p>
            The Client agrees that so long as the Client’s account is open, the Bank may monitor or record the conversations and
            telephone calls (should the Bank choose, under its discretion, to do so) that the Client has with the Bank’s employees or
            agents for the purpose of verifying transactions, quality control, or for other business reasons. The Client waives any notice
            other than this provision that its communications shall or may be recorded at any time.
        </p> <br />
        <p>
            If the Client provides the Bank with his cell phone number as a contact number for the Account, the Client agrees that
            the Bank may contact that number with service messages, including calls via an autodialer or prerecorded calls or other
            electronic means. Confidentiality and integrity of messages via email, or other electronic means cannot be assured, and
            electronic means may not always transmit correctly, so the Client will not assume the Bank has received a message via such
            electronic means if the Bank does not respond within a reasonable time. The Client understands that messages left on a
            voice-mail system may not be collected immediately for various reasons and, again, the Client should not assume the Bank
            has received a message if the Bank does not respond within a reasonable time. The Client understands that the Bank does
            not accept securities, money transfers or other instructions sent by electronic means and will not be responsible for them.
            Should the Bank agree to accept instructions that the Client sends by such electronic means, the Client accepts that it does
            so at its own risk in accordance with this paragraph. The Bank may record and monitor communications via electronic media
            just as described above with regard to telephone conversations.
        </p>
        <br />
        <p><strong>15. ENDORSEMENT GUARANTEES</strong></p><br />
        <p>
            The Client guarantees the regularity of all endorsements and the authenticity of all signatures on bills, checks, and other
            agreements with and instruments and documents presented to the Bank. Without limitation, this guarantee shall survive the
            termination or closure of any or all of the Client’s Accounts. The Client agrees to reimburse the Bank upon its first request
            for guarantee and to acknowledge the effectiveness of such payments in advance.
        </p>
        <br />
        <p><strong>16. FEES AND SERVICE CHARGES</strong></p><br />
        <p>
            Liability for fees, costs, expenses and disbursements of the Bank shall be that of the Client and the Bank shall be reimbursed
            for all costs, expenses and disbursements relative to its provision of services to the Client. Except as otherwise agreed
            between the Bank and the Client, the fees and service charges applicable to the use of accounts at the Bank are those
            published by the Bank from time to time. A schedule of the fees and service charges is available upon request at the Bank.
        </p><br />
        <p>
            The Client authorizes the Bank to debit from any of his accounts for any ordinary service charges for operating such account.
            In addition, the Client agrees to pay on demand all losses, costs and expenses (including without limitation, fees and
            expenses from counseling), if any, incurred by the Bank in connection with or related to this agreement and any documents
            delivered hereunder, including losses, costs and expenses sustained as a result of, (a) a default by the Client in the fulfillment
            of its obligations and, (b) any claim by a third party, whether legally enforceable or not, or against any account of the Client
            with the Bank.
        </p>
        <br />
        <p>
            Should the Bank be served or receive any process, summons order, injunction, execution, restraint, garnishment, levy, lien
            or other legal process (hereinafter called “process”), and the Bank believes, in its absolute discretion and without liability,
            that it should withhold payment for any such Account or otherwise refuse to honor any withdrawal of funds for any such
            Account until process is annulled or disposed or resolved, it may do so. The Bank may charge to any Account any expense,
            including reasonable attorney’s fees, incurred by the Bank in responding to any process in relation to any account of the
            Client at the Bank
        </p><br />
        <p>
            In the event that the ownership of any account of the Client at the Bank or any part thereof becomes at issue due to causes
            beyond the control of the Bank, the Bank may freeze the balance of any funds in such Account without liability to the
            Client and with hold payment until such ownership has been legally adjudicated. The Bank may charge to any account
            of the Client at the Bank any expense including reasonable attorney’s fees and expenses incurred by the Bank in
            connection with any controversy concerning the ownership of any Account or any part thereof.
        </p>
        <br />
        <p><strong>17. ABDICATION OF ALL CONFIDENTIALITY OR PRIVACY RIGHTS</strong></p>
        <p>
            The Client agrees, to waive all confidentiality or privacy rights to which the Client may be entitled with respect to this
            Agreement, or the accounts under the laws of the Commonwealth of The Bahamas and the laws of any of the jurisdictions
            under which the Bank is registered or constituted or where it maintains operations or banking establishments. The
            Client hereby authorizes the Bank to divulge or provide to any governmental authority, if so required, any information or
            documentation that the Bank has or obtains in regard to the Client’s past record, businesses or use of the account(s).
        </p>
        <div style="margin-top:1cm; font-family:'Times New Roman'; font-size:8px; text-align:right">
            <p>ITGB-OAD-2019</p>
        </div>
    </div>
</div>

<div style="page-break-after: always;"></div> @*Page BREAK*@
@*Pagina 19*@
<div>
    <div>
        <img src="~/Img/Intbank.png" style="width:6cm; height:1cm; margin:1.5cm 0 0 2cm" />
    </div>
    <div style="font-family:'Arial MT'; font-size:12px; color:black; margin:1cm 0 0 2cm; text-align:justify">
        <p>
            The Client agrees to reimburse all expenses, expenditures and losses, including legal fees and expenses, incurred by the
            Bank for complying with the requirements that are imposed upon it in conformity with this clause; additionally, the Client
            authorizes the Bank to deduct said sums directly from the account(s).
        </p> <br />
             <p><strong>18. ONLINE SERVICES</strong></p>
        <p>
            If the Client provides the Bank with his cell phone number as a contact number for the Account, the Client agrees that
            the Bank may contact that number with service messages, including calls via an autodialer or prerecorded calls or other
            electronic means. Confidentiality and integrity of messages via email, or other electronic means cannot be assured, and
            electronic means may not always transmit correctly, so the Client will not assume the Bank has received a message via such
            electronic means if the Bank does not respond within a reasonable time. The Client understands that messages left on a
            voice-mail system may not be collected immediately for various reasons and, again, the Client should not assume the Bank
            has received a message if the Bank does not respond within a reasonable time. The Client understands that the Bank does
            not accept securities, money transfers or other instructions sent by electronic means and will not be responsible for them.
            Should the Bank agree to accept instructions that the Client sends by such electronic means, the Client accepts that it does
            so at its own risk in accordance with this paragraph. The Bank may record and monitor communications via electronic media
            just as described above with regard to telephone conversations.
        </p>
        <br />
        <p><strong>15. ENDORSEMENT GUARANTEES</strong></p><br />
        <p>
            The Client guarantees the regularity of all endorsements and the authenticity of all signatures on bills, checks, and other
            agreements with and instruments and documents presented to the Bank. Without limitation, this guarantee shall survive the
            termination or closure of any or all of the Client’s Accounts. The Client agrees to reimburse the Bank upon its first request
            for guarantee and to acknowledge the effectiveness of such payments in advance.
        </p>
        <br />
        <p><strong>16. FEES AND SERVICE CHARGES</strong></p><br />
        <p>
            Liability for fees, costs, expenses and disbursements of the Bank shall be that of the Client and the Bank shall be reimbursed
            for all costs, expenses and disbursements relative to its provision of services to the Client. Except as otherwise agreed
            between the Bank and the Client, the fees and service charges applicable to the use of accounts at the Bank are those
            published by the Bank from time to time. A schedule of the fees and service charges is available upon request at the Bank.
        </p><br />
        <p>
            The Client authorizes the Bank to debit from any of his accounts for any ordinary service charges for operating such account.
            In addition, the Client agrees to pay on demand all losses, costs and expenses (including without limitation, fees and
            expenses from counseling), if any, incurred by the Bank in connection with or related to this agreement and any documents
            delivered hereunder, including losses, costs and expenses sustained as a result of, (a) a default by the Client in the fulfillment
            of its obligations and, (b) any claim by a third party, whether legally enforceable or not, or against any account of the Client
            with the Bank.
        </p>
        <br />
        <p>
            Should the Bank be served or receive any process, summons order, injunction, execution, restraint, garnishment, levy, lien
            or other legal process (hereinafter called “process”), and the Bank believes, in its absolute discretion and without liability,
            that it should withhold payment for any such Account or otherwise refuse to honor any withdrawal of funds for any such
            Account until process is annulled or disposed or resolved, it may do so. The Bank may charge to any Account any expense,
            including reasonable attorney’s fees, incurred by the Bank in responding to any process in relation to any account of the
            Client at the Bank
        </p><br />
        <p>
            In the event that the ownership of any account of the Client at the Bank or any part thereof becomes at issue due to causes
            beyond the control of the Bank, the Bank may freeze the balance of any funds in such Account without liability to the
            Client and with hold payment until such ownership has been legally adjudicated. The Bank may charge to any account
            of the Client at the Bank any expense including reasonable attorney’s fees and expenses incurred by the Bank in
            connection with any controversy concerning the ownership of any Account or any part thereof.
        </p>
        <br />
        <p><strong>17. ABDICATION OF ALL CONFIDENTIALITY OR PRIVACY RIGHTS</strong></p>
        <p>
            The Client agrees, to waive all confidentiality or privacy rights to which the Client may be entitled with respect to this
            Agreement, or the accounts under the laws of the Commonwealth of The Bahamas and the laws of any of the jurisdictions
            under which the Bank is registered or constituted or where it maintains operations or banking establishments. The
            Client hereby authorizes the Bank to divulge or provide to any governmental authority, if so required, any information or
            documentation that the Bank has or obtains in regard to the Client’s past record, businesses or use of the account(s).
        </p>
        <div style="margin-top:1cm; font-family:'Times New Roman'; font-size:8px; text-align:right">
            <p>ITGB-OAD-2019</p>
        </div>
    </div>
</div>


